.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/10x
data/droplet.rds
data/Ensembl2Reactome.txt
data/mus_pathways.rds
data-raw/10x_assigned_cell_types.R
output/pseudocount
output/var_type
output/backfit
output/prior_type
output/size_factors
output/pseudocount_redux
output/lowrank
output/final_montoro
